@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


body {
    margin:0;
    padding:0;
    color: #37333D;
}

a, span {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 400;
    font-size:1.2rem;
}

h4 {
    font-family: 'Inter Tight', sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    font-size:2rem;
}